{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href=" {% static '../static/css/normalize.css' %} ">
    <link rel="stylesheet" href=" {% static '../static/css/style.css' %} ">
    <title>иба чотка</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <h1 class="title"><a href={% url '' %}>KURTOFF</a></h1>
                <nav class="nav-header">
                    <ul class="nav-list">
                        <li class="nav-item"><a href={% url 'subscription' %} class="nav-link">Тарифы</a></li>
                        <li class="nav-item"><a href={% url 'timetable' %} class="nav-link">Расписание</a></li>
                        <li class="nav-item"><a href={% url 'staff' %} class="nav-link">Персонал</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        {% block main %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-inner">
                
            </div>
        </div>
    </footer>
</body>

</html>