<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>иба чотка</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <h1 class="title">KURTOFF</h1>
                <nav class="nav-header">
                    <ul class="nav-list">
                        <li class="nav-item"><a href="#" class="nav-link">Тарифы</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Расписание</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Персонал</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <section class="img">
                <div class="zal">
                    <img src="images/zal-1.jpg" alt="#" class="zal-img">
                    <img src="images/zal-2.jpg" alt="#" class="zal-img">
                    <img src="images/zal-3.jpg" alt="#" class="zal-img">
                    <img src="images/zal-4.jpg" alt="#" class="zal-img">
                </div>
                <div class="about-list">
                    <ul class="about-listt s">
                        <li class="about-item">
                            <img src="images/Clock.svg" alt="#" class="about-img">
                            <p class="about-text">Ежедневно с 6 до 24</p>
                        </li>
                        <li class="about-item">
                            <img src="images/Dumbbell.svg" alt="#" class="about-img">
                            <p class="about-text">Премиальное оборудование</p>
                        </li>
                        <li class="about-item">
                            <img src="images/Lotus.svg" alt="#" class="about-img">
                            <p class="about-text">SPA-зона</p>
                        </li>
                    </ul>
                    <ul class="about-listt">
                        <li class="about-item">
                            <img src="images/Car.svg" alt="#" class="about-img">
                            <p class="about-text">Парковка</p>
                        </li>
                        <li class="about-item">
                            <img src="images/Rowing Machine.svg" alt="#" class="about-img">
                            <p class="about-text">Групповые программы</p>
                        </li>
                        <li class="about-item">
                            <img src="images/Shower.svg" alt="#" class="about-img">
                            <p class="about-text">Удобные раздевалки и душевые</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="about">
                <div class="about-us">
                    <h2 class="title-about-us">
                        О клубе
                    </h2>
                    <p class="text-about-us">
                        Современный спортивный зал «KURTOFF» — это просторное и светлое помещение с высокими потолками.
                        Стены выкрашены в мотивирующие яркие цвета: оранжевый и салатовый. По периметру зала расположены 
                        большие зеркала, которые помогают спортсменам следить за техникой выполнения упражнений. 
                        Основное пространство занято профессиональными тренажерами: беговыми дорожками, велотренажерами,
                        силовыми рамами и стойками для штанги. В левом углу находится зона для функционального тренинга
                        с гирями, медицинскими мячами и канатами. Пол покрыт прорезиненным антискользящим покрытием, что 
                        обеспечивает безопасность во время тренировок.
                    </p>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-inner">
                
            </div>
        </div>
    </footer>
</body>

</html>