{% extends "main.html" %}
{% load static %}

{% block main %}
<div class="container">
            <section class="trafic-main">
                <h2 class="title-trafic">НАШИ ТАРИФЫ</h2>
                <div class="trafic-list">
                    <div class="trafic-light">
                        <div class="trafic-head">
                            <h2 class="title-item">LIGHT</h2>
                            <div class="kvadrat-1"><img src=" {% static '../static/images/Group 2.svg' %} " alt="" class="atom"></div>
                        </div>
                        <div class="information">
                            <ul class="information-list">
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">безлимитный доступ в клуб</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">тренажерный зал</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">анализ состава тела InBody</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">бесплатные тренировки с тренером (Smart Start)</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">мобильное приложение</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/cross.png' %} alt="#" class="about-img2">
                                    <p class="information-text">групповые занятия </p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/cross.png' %} alt="#" class="about-img2">
                                    <p class="information-text">SPA-зона</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/cross.png' %} alt="#" class="about-img2">
                                    <p class="information-text">доступ во все клубы сети</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/cross.png' %} alt="#" class="about-img2">  
                                    <p class="information-text">доступ для друзей</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/cross.png' %} alt="#" class="about-img2">
                                    <p class="information-text">семейный доступ</p>
                                </li>
                            </ul>
                        </div>
                        <h3 class="price-info">1 700₽ В месяц</h3>
                        <a href="#" class="trafic-btn-light">Купить</a>
                    </div>
                    <div class="trafic-infinitty">
                        <div class="trafic-head">
                            <h2 class="title-item">INFINITY</h2>
                            <div class="kvadrat-2"><img src=" {% static '../static/images/Group 2.svg' %} " alt="" class="atom"></div>
                        </div>
                        <div class="information">
                            <ul class="information-list">
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">безлимитный доступ в клуб</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">тренажерный зал</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">анализ состава тела InBody</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">бесплатные тренировки с тренером (Smart Start)</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">мобильное приложение</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">групповые занятия </p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">SPA-зона</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">доступ во все клубы сети</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">доступ для друзей</p>
                                </li>
                                <li class="information-item">
                                   <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">семейный доступ</p>
                                </li>
                            </ul>
                        </div>
                        <div class="inff">
                            <h3 class="price-info">2 800₽ В месяц</h3>
                            <a href="#" class="trafic-btn-inf">Купить</a>
                        </div>
                    </div>
                    <div class="trafic-smart">
                        <div class="trafic-head">
                            <h2 class="title-item">SMART</h2>
                            <div class="kvadrat-3"><img src=" {% static '../static/images/Group 2.svg' %} " alt="" class="atom"></div>
                        </div>
                        <div class="information">
                            <ul class="information-list">
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">безлимитный доступ в клуб</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">тренажерный зал</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">анализ состава тела InBody</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">бесплатные тренировки с тренером (Smart Start)</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">мобильное приложение</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/checkmark.png' %} alt="#" class="about-img">
                                    <p class="information-text">групповые занятия </p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/cross.png' %} alt="#" class="about-img2">
                                    <p class="information-text">SPA-зона</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/cross.png' %} alt="#" class="about-img2">
                                    <p class="information-text">доступ во все клубы сети</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/cross.png' %} alt="#" class="about-img2">
                                    <p class="information-text">доступ для друзей</p>
                                </li>
                                <li class="information-item">
                                    <img src={% static 'images/cross.png' %} alt="#" class="about-img2">
                                    <p class="information-text">семейный доступ</p>
                                </li>
                            </ul>
                        </div>
                        <h3 class="price-info">2 400₽  В месяц</h3>
                        <a href="#" class="trafic-btn-smart">Купить</a>
                    </div>
                </div>
                <h2 class="free">Первая тренеровка бесплатно!</h2>
                <a href="" class="free-btn">Записаться</a>
            </section>
        </div>
{% endblock %}