{% extends "main.html" %}
{% load static %}

{% block main %}
<div class="container">
            <section class="img">
                <div class="zal">
                    <img src=" {% static '../static/images/zal-1.jpg' %} " alt="#" class="zal-img">
                    <img src=" {% static '../static/images/zal-2.jpg' %} " alt="#" class="zal-img">
                    <img src=" {% static '../static/images/zal-3.jpg' %} " alt="#" class="zal-img">
                    <img src=" {% static '../static/images/zal-4.jpg' %} " alt="#" class="zal-img">
                </div>
                <div class="about-list">
                    <ul class="about-listt s">
                        <li class="about-item">
                            <img src={% static 'images/Clock.svg' %} alt="#" class="about-img">
                            <p class="about-text">Ежедневно с 6 до 24</p>
                        </li>
                        <li class="about-item">
                            <img src={% static 'images/Dumbbell.svg' %} alt="#" class="about-img">
                            <p class="about-text">Премиальное оборудование</p>
                        </li>
                        <li class="about-item">
                            <img src={% static 'images/Lotus.svg' %} alt="#" class="about-img">
                            <p class="about-text">SPA-зона</p>
                        </li>
                    </ul>
                    <ul class="about-listt">
                        <li class="about-item">
                            <img src={% static 'images/Car.svg' %} alt="#" class="about-img">
                            <p class="about-text">Парковка</p>
                        </li>
                        <li class="about-item">
                            <img src={% static 'images/Rowing Machine.svg' %} alt="#" class="about-img">
                            <p class="about-text">Групповые программы</p>
                        </li>
                        <li class="about-item">
                            <img src={% static 'images/Shower.svg' %} alt="#" class="about-img">
                            <p class="about-text">Удобные раздевалки и душевые</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="about">
                <div class="about-us">
                    <h2 class="title-about-us">
                        О клубе
                    </h2>
                    <p class="text-about-us">
                        Современный спортивный зал «KURTOFF» — это просторное и светлое помещение с высокими потолками.
                        Стены выкрашены в мотивирующие яркие цвета: оранжевый и салатовый. По периметру зала расположены 
                        большие зеркала, которые помогают спортсменам следить за техникой выполнения упражнений. 
                        Основное пространство занято профессиональными тренажерами: беговыми дорожками, велотренажерами,
                        силовыми рамами и стойками для штанги. В левом углу находится зона для функционального тренинга
                        с гирями, медицинскими мячами и канатами. Пол покрыт прорезиненным антискользящим покрытием, что 
                        обеспечивает безопасность во время тренировок.
                    </p>
                </div>
            </section>
        </div>
{% endblock %}
