{% extends "main.html" %}
{% load static %}

{% block main %}  

        <div class="container">
            <section class="schedule">
                <h1 class="title-schedule">Расписание</h1>
                <div class="scheduleee">
                    <div class="date">
                        <div class="date-block">
                            <h2 class="title-date">Выбрать дату</h2>
                            <ul class="date-list">
                                <li class="date-item">
                                    <p class="date-text">15.10</p>
                                </li>
                                <li class="date-item">
                                    <p class="date-text">16.10</p>
                                </li>
                                <li class="date-item">
                                    <p class="date-text">17.10</p>
                                </li>
                                <li class="date-item">
                                    <p class="date-text">18.10</p>
                                </li>
                                <li class="date-item">
                                    <p class="date-text">19.10</p>
                                </li>
                                <li class="date-item">
                                    <p class="date-text">20.10</p>
                                </li>
                                <li class="date-item">
                                    <p class="date-text">21.10</p>
                                </li>
                            </ul>
                        </div>
                        <div class="time-block">
                            <div class="time">
                                <h3 class="title-time-h">09:00</h3>
                                <p class="text-time-m">45 мин</p>
                            </div>
                            <p class="time-text">Дмитрий Седых</p>
                        </div>
                        <div class="time-block">
                            <div class="time">
                                <h3 class="title-time-h">10:00</h3>
                                <p class="text-time-m">45 мин</p>
                            </div>
                            <p class="time-text">Михаил Первов</p>
                        </div>
                        <div class="time-block">
                            <div class="time">
                                <h3 class="title-time-h">10:00</h3>
                                <p class="text-time-m">120 мин</p>
                            </div>
                            <p class="time-text">Алена Смоглова</p>
                        </div>
                        <div class="time-block">
                            <div class="time">
                                <h3 class="title-time-h">11:00</h3>
                                <p class="text-time-m">90 мин</p>
                            </div>
                            <p class="time-text">Алексей Баранов</p>
                        </div>
                        <div class="time-block">
                            <div class="time">
                                <h3 class="title-time-h">12:00</h3>
                                <p class="text-time-m">45 мин</p>
                            </div>
                            <p class="time-text">Дмитрий Седых</p>
                        </div>
                        <div class="time-block">
                            <div class="time">
                                <h3 class="title-time-h">13:00</h3>
                                <p class="text-time-m">90 мин</p>
                            </div>
                            <p class="time-text">Алена Смоглова</p>
                        </div>
                    </div>
                    <div class="news">
                        <h2 class="title-news">НОВОСТИ KURTOFF</h2>
                        <ul class="news-list">
                            <li class="news-item">
                                <p class="news-text">В Киеве запретили паркур</p>
                            </li>
                            <li class="news-item">
                                <p class="news-text">В Киеве запретили паркур</p>
                            </li>
                            <li class="news-item">
                                <p class="news-text">В Киеве запретили паркур</p>
                            </li>
                            <li class="news-item">
                                <p class="news-text">В Киеве запретили паркур</p>
                            </li>
                            <li class="news-item">
                                <p class="news-text">В Киеве запретили паркур</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
{% endblock %}